src/resources/
node_modules/
dist/
out/
.DS_Store
Thumbs.db
*.swp
.vscode/
.idea/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
release/
!/package.json
!/package-lock.json
!/yarn.lock
node_modules/**/package.json
node_modules/**/package-lock.json